acres
agno
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
ci-info
click
configobj
configparser
cryptography
dataclasses-json
distro
docstring-parser
etelemetry
exa-py
faiss-cpu
filelock
fitz
frontend
frozenlist
fsspec
gitdb
gitpython
greenlet
h11
httpcore
httplib2
httpx
httpx-sse
idna
iniconfig
isodate
itsdangerous
jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
looseversion
lxml
markdown-it-py
markupsafe
marshmallow
mdurl
mpmath
multidict
mypy-extensions
narwhals
nest-asyncio
networkx
nibabel
nipype
numpy
ollama
openai
orjson
packaging
pandas
pathlib
pdfminer-six
pdfplumber
pillow
pluggy
propcache
protobuf
prov
puremagic
pyarrow
pycparser
pydantic
pydantic-core
pydantic-settings
pydeck
pydot
pygments
pyparsing
pypdf
pypdf2
pypdfium2
pytest
pytest-mock
python-dateutil
python-dotenv
python-multipart
pytz
pyxnat
pyyaml
rdflib
referencing
requests
requests-toolbelt
rich
rpds-py
scipy
setuptools
shellingham
simplejson
six
smmap
sniffio
soupsieve
sqlalchemy
starlette
streamlit
sympy
tenacity
toml
tomli
tools
torch
#tornado
tqdm
traits
#triton
typer
typing-extensions
typing-inspect
typing-inspection
tzdata
urllib3
uvicorn
watchdog
yarl
zstandard